{{ define "content" }}
<div class="ts-container is-very-narrow has-vertically-padded-large has-bottom-padded-huge">
    {{ if .Message }}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{{ .MessageTitle }}</div>
        <div class="content">{{ .Message }}</div>
    </div>
    {{ end }}

    <div class="ts-header">網站設定</div>
    <form action="/admin/settings" method="post">
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        <div class="ts-card has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <div class="ts-control">
                    <div class="label">部落格名稱</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="name" value="{{ .Config.Name }}" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">這個名稱會出現在標題與 SEO 搜尋引擎中。</div>
                    </div>
                </div>
                <div class="ts-control has-top-spaced-large">
                    <div class="label">標語</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="description" value="{{ .Config.Description }}" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">通常會出現在首頁的網站標題下方，類似簡短的說明。</div>
                    </div>
                </div>
                <div class="ts-control mobile:is-stacked has-top-spaced-large">
                    <div class="label">網站開放中</div>
                    <div class="content is-padded">
                        <label class="ts-checkbox">
                            <input type="checkbox" name="is_public" value="true" {{ if .Config.IsPublic }}checked{{ end }} />
                            公開網站讓任何人都可以觀看。
                        </label>
                        <div class="ts-text is-description has-top-spaced-small">若關閉此選項，任何人都必須登入才能檢視網站。</div>
                    </div>
                </div>
                <div class="ts-control mobile:is-stacked has-top-spaced-large">
                    <div class="label">網站網址</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="url" placeholder="https://example.com" value="{{ .Config.URL }}" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">部落格的完整公開網址，會套用到部份的超連結，結尾可以包含或省略斜線。</div>
                    </div>
                </div>
                <div class="ts-divider has-vertically-spaced-big"></div>
                <div class="ts-control">
                    <div class="label">系統時區</div>
                    <div class="content">
                        <div class="ts-select">
                            <select name="timezone">
                                {{ range .Timezones }}
                                <option value="{{ .Value }}" {{ if eq $.Config.Timezone .Value }}selected{{ end }}>({{ .Label }}) {{ timezone .Value }}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ts-control has-top-spaced-large">
                    <div class="label">日期格式</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="date_format" value="2006-01-02" type="radio" {{ if eq .Config.DateFormat "2006-01-02" }}checked{{ end }} /> {{ .Year }}-{{ .Month }}-{{ .Day }}
                            </label>
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="date_format" value="01/02/2006" type="radio" {{ if eq .Config.DateFormat "01/02/2006" }}checked{{ end }} /> {{ .Day }}/{{ .Month }}/{{ .Year }}
                            </label>
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="date_format" value="02/01/2006" type="radio" {{ if eq .Config.DateFormat "02/01/2006" }}checked{{ end }} /> {{ .Month }}/{{ .Day }}/{{ .Year }}
                            </label>
                            <div>
                                <div class="ts-grid is-middle-aligned">
                                    <div class="column">
                                        <label class="ts-radio">
                                            <!-- prettier-ignore -->
                                            <input name="date_format" type="radio" value="custom" {{ if .IsCustomDateFormat }}checked{{ end }} />自訂：
                                        </label>
                                    </div>
                                    <div class="column is-fluid">
                                        <div class="ts-input">
                                            <input name="date_format_custom" type="text" value="{{ .Config.DateFormat }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts-control has-top-spaced-large">
                    <div class="label">時間格式</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="time_format" value="PM 03:04" type="radio" {{ if eq .Config.TimeFormat "PM 03:04" }}checked{{ end }} /> {{ .Clock }} {{ .Hour }}:{{ .Minute }}
                            </label>
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="time_format" value="03:04 PM" type="radio" {{ if eq .Config.TimeFormat "03:04 PM" }}checked{{ end }} /> {{ .Hour }}:{{ .Minute }} {{ .Clock }}
                            </label>
                            <label class="ts-radio">
                                <!-- prettier-ignore -->
                                <input name="time_format" value="15:04" type="radio" {{ if eq .Config.TimeFormat "15:04" }}checked{{ end }} /> {{ .Hour24 }}:{{ .Minute }}
                            </label>
                            <div>
                                <div class="ts-grid is-middle-aligned">
                                    <div class="column">
                                        <label class="ts-radio">
                                            <!-- prettier-ignore -->
                                            <input name="time_format" type="radio" value="custom" {{ if .IsCustomTimeFormat }}checked{{ end }} />自訂：
                                        </label>
                                    </div>
                                    <div class="column is-fluid">
                                        <div class="ts-input">
                                            <input name="time_format_custom" type="text" value="{{ .Config.TimeFormat }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            <a class="ts-text is-external-link" href="#!">點擊此處</a>參閱自訂日期與時間格式的線上說明文件。
                        </div>
                    </div>
                </div>
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <button class="ts-button">儲存變更</button>
                </div>
            </div>
        </div>
    </form>

    <div class="ts-header has-top-spaced-big">關於 Tunalog</div>
    <div class="ts-content is-rounded is-tertiary is-very-padded has-top-spaced">
        <div class="ts-grid is-middle-aligned is-relaxed">
            <div class="column is-fluid">
                <div class="ts-text is-description">
                    <p>目前執行的 Tunalog 版本是 v1.0.0（建置日期 2023/03/12）</p>
                    由來自 <span class="ts-flag is-taiwan-flag is-rounded is-small"></span> 台灣的<a href="https://twitter.com/YamiOdymel" target="_blank">Yami Odymel</a
                    >所設計，當然還有<a href="https://github.com/teacat/tocas/graphs/contributors" target="_blank">貢獻者們</a>的愛心❤️。原始碼授權方式為<a
                        href="https://github.com/teacat/tocas/blob/master/LICENSE"
                        target="_blank"
                        >MIT</a
                    >，還請盡情地使用、分享或一同改進。Tunalog 由<a href="https://caris.events" target="_blank">卡莉絲伊繁星</a>共同開發，而卡莉絲伊繁星屬<a
                        href="https://sorae.co"
                        target="_blank"
                        >對空音商事</a
                    >。
                </div>
            </div>
            <div class="column">
                <div class="ts-image">
                    <img src="/assets/caris-events.svg" width="120" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
